---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/gists/ca811daa580aee95bd07
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '42'
      X-Ratelimit-Reset:
      - '1442567937'
      Last-Modified:
      - Mon, 14 Sep 2015 10:49:04 GMT
      Etag:
      - W/"01d135c053637a7d164dbcccd6d44b82"
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/gists/ca811daa580aee95bd07","forks_url":"https://api.github.com/gists/ca811daa580aee95bd07/forks","commits_url":"https://api.github.com/gists/ca811daa580aee95bd07/commits","id":"ca811daa580aee95bd07","git_pull_url":"https://gist.github.com/ca811daa580aee95bd07.git","git_push_url":"https://gist.github.com/ca811daa580aee95bd07.git","html_url":"https://gist.github.com/ca811daa580aee95bd07","files":{"NoSQLGist":{"filename":"NoSQLGist","type":"text/plain","language":null,"raw_url":"https://gist.githubusercontent.com/galliva/ca811daa580aee95bd07/raw/aa11f84ec7cd02beeefd0bf892602cbf1ed09797/NoSQLGist","size":3903,"truncated":false,"content":"=
        Find the best NoSQL distribution\n\n// console\n\n== Motivation\n\nThe NoSQL
        movement began early 2009 and is growing rapidly. As there are many NoSQL
        categories and distributions around, this application provides an interactive
        way to find the best distribution that fits, for instance, students homeworks
        specs.\n\n=== An example subset of the Graph\n\nimage::http://yuml.me/diagram/scruffy;/class/%5BNeo4j%7Bbg:orange%7D%5D-based_on%3E%5BJava%5D,%20%5BNe[...]
