
h1 = @asset.title

#gist-body
  = @asset.html.html_safe


= stylesheet_link_tag    'graphgist-render', media: 'all', 'data-turbolinks-track' => true

= javascript_include_tag 'graphgist-render', 'data-turbolinks-track' => true

