table.ui.celled.table
  thead
    tr
      th Name
      th Public?
      th Categories

  tbody
    - assets.each do |asset|
      tr
        td = link_to asset.title, asset
        td
          i.icon class=(asset.public ? 'checkmark green' : 'remove red')
        td
          ul.ui.relaxed.divided.list
            - asset.categories.each do |category|
              li.item = link_to category.name, category
