/*
 *= require prism
 *= require prism-cypher
 *= require neod3
 */

span.query-toggle, span.result-toggle {
    position: absolute;
    right: 0;
    cursor: pointer;
    padding: 9.5px;
}

span.query-toggle {
    top: 0;
    padding-top: 6px;
}

span.result-toggle {
    bottom: 0;
    padding-bottom: 6px;
}

a.run-query {
    position: absolute;
    bottom: 6px;
    left: 9.5px;
}

a.edit-query {
    position: absolute;
    bottom: 6px;
    left: 45px;
}

.query-info {
    position: absolute;
    bottom: 6px;
    right: 30px;
}

a.resize-toggle {
    position: absolute;
    right: 0;
    bottom: -39px;
}

a.show-console-toggle {
    position: relative;
    top: -35px;
}

a.show-console-toggle.show-console-toggle-hidden-console {
    top: 0;
}

span.resize-vertical-handle {
    position: absolute;
    bottom: -11px;
    display: block;
    height: 9px;
    width: 100%;
    background: #f9f9f9;
    border: 1px solid rgba(0, 0, 0, 0.15);
    cursor: s-resize;

    span {
        display: block;
        margin: 4px auto;
        height: 1px;
        width: 30px;
        background: #888888;
    }
}

#resize-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#console-wrapper, p.console {
    height: 23em;
}

#console-wrapper {
    position: relative;
}

#console {
    height: 100%;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

#console-wrapper {
    left: 0;
    top: 0;
    width: 99.7%;
    z-index: 1000;

    &.fixed-console {
        position: fixed;
    }
}

#console-label {
    display: none;
}

p.console.fixed-console > #console-label {
    display: inline;
}

p.console.fixed-console {
    height: 24px;
    margin-bottom: 24px;
}

#content.internet-explorer #console-wrapper.fixed-console {
    width: 98%;
}

p.console {
    margin-bottom: 48px;
    background: #eeeeee url('http://gist.neo4j.org/images/loading.gif') no-repeat center center;

    > span.loading {
        display: block;
        margin: 0 auto;
        width: 100%;
        padding: 4em 0 0 0;
        text-align: center;
    }
}


div.visualization {
    margin-top: 42px;
    margin-bottom: 21px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    position: relative;
}

div.visualization-icons {
    position: absolute;
    right: 4px;
    top: 4px;
    border-radius: 4px;
    font-size: 14px;
    color: #666666;
    background: rgba(255, 255, 255, 0.8);
}

div.visualization.fullscreen > div.visualization-icons {
    top: 2px;
}

div.visualization-icons > i {
    padding: 0 2px 0 4px;
    cursor: pointer;
    width: 1.5em !important;
}

div.visualization.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    border: 0 none;
    padding: 0;
    margin: 0;
    z-index: 10000;
    cursor: pointer;
}

a.visualization-download {
    position: absolute;
    top: 25px;
    right: 4px;
}

div.visualization.fullscreen > a.visualization-download {
    top: 24px;
}

div.result-table {
    .dataTables_filter input {
        display: inline-block;
    }


    table {
      clear: both;
    }

    table.dataTable td {
      padding: 0.5em 0.8em;
    }
}

div.visualization > svg {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.d3-shadow {
    stroke: #000;
    stroke-width: 1.5px;
    stroke-opacity: .8;
}

.d3-text, .d3-path-text {
    stroke: none;
    font-family: sans-serif;
    text-shadow: none;
    pointer-events: none;
}

.d3-text {
    font-size: 10px;
    z-index: 10;
}

.d3-path-text {
    font-size: 8px;
    text-align: center;
}

.selected {
    stroke: red;
    stroke-width: 1.5px;
}

.d3-link {
    stroke: #222;
}

.d3-marker {
    stroke: #222;
    fill: #222;
}

.d3-node {
    color: #fa8072;
}